:root {
    --white-color: #ffffff;
    --black-color: #000000;
}

 @keyframes show {
    0% {
        opacity: 0;
        transform: translate(0, 24px) scale(0.95);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes show-arrow {
    0% {
        opacity: 0;
        transform: translate(0, 24px) scale(1);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) scale(2);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
} 

@keyframes show-hamburger {
    0% {
        opacity: 0;
        transform: translate(0, 24px);
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes intro-box {
    0% {
        background-color: var(--black-color);
    }

    80% {
        background-color: var(--black-color);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes fade-intro {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%
    }
}



@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


body {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 1.4;

    background-color: var(--black-color);
    color: #ffffff;

}

 a {
     text-decoration: none;
     color: var(--white-color)
 }   

 .italic {
    font-style: italic;
 }

 .bold-font {
     font-weight: 600;
 }


div.intro {
    position: fixed;
    display: flex;
    top:0;
    left: 0;
    z-index: 120;
}

/* section.full-height-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    background-color: black;
} */

/* 
figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    clip: rect(0, auto, auto, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

figcaption {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    line-height: 1.1;
    letter-spacing: -1px;
} */



@media (prefers-reduced-motion: no-preference) {
    section.in-view .profile-picture{
        animation: show 2s 5s  both cubic-bezier(0.68,-0.55,0.27,1.55);   
    }    
}

@media (prefers-reduced-motion: no-preference) {
    section.in-view img.profile-picture{
        animation: show 1.2s  both cubic-bezier(0.68,-0.55,0.27,1.55);   
    }    
}


@media (prefers-reduced-motion: no-preference) and (min-width: 900px) {
    /* html, body {
      height: 100%;
    }
    
    main {
      height: 100%;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
    }
    
    section {
       scroll-snap-align: start; 
    }  */
  }



  .mail {
      color: var(--black-color); 
      transition: 0.4s;
      text-decoration: underline;
  }

  .mail:hover {
      color: blue;
  }


  /*Logo name*/
  .back-button a {
    position: fixed;
    top: 43px;
    left: 48px;
    z-index: 1;
    text-decoration: none;
    animation: show-hamburger 1s both cubic-bezier(0.68,-0.55,0.27,1.55);  
    z-index: 1000000000;
  }

  .back-button-index a {
    position: fixed;
    top: 43px;
    left: 48px;
    z-index: 1;
    text-decoration: none;
    animation: show 2s 6s  both cubic-bezier(0.68,-0.55,0.27,1.55);  
  }
  
  
  
  
  @media screen and (max-width: 640px) {
  
    .back-button a {
      position: fixed;
      top: 19px;
      left: 16px;
      z-index: 1;
      text-decoration: none;
    }

    .back-button-index a {
        position: fixed;
        top: 19px;
        left: 16px;
        z-index: 1;
        text-decoration: none;
        animation: show 2s 6s  both cubic-bezier(0.68,-0.55,0.27,1.55);  
      }
    
    
   
  }
  

  /*Navigation*/

 a.menu-toggle {
    position: fixed;
    top: 44px;
    right: 48px;
    z-index: 101;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
    animation: show-hamburger 2s 6s  both cubic-bezier(0.68,-0.55,0.27,1.55);  
}

 #secondary{
    animation: show-hamburger 1s both cubic-bezier(0.68,-0.55,0.27,1.55);  
}


nav {
    padding: 48px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: var(--black-color);
    border-left: 1px solid var(--white-color);
    z-index: 100;
    transform: translate(100%, 0);
    transition: transform 0.5s 0s; 
    display: flex;
    flex-direction: column;
}

nav.fake-mid {
    background-color: yellow;
    transition-delay: 0.1s;

}

nav.fake-back {
    background-color: var(--white-color);
    transition-delay: 0.2s;
}

body.nav-open nav {
    transform: translate(0, 0);
    transition-delay: 0.2s;
}

body.nav-open nav.fake-back {
    transition-delay: 0;
}


nav .internal-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 64px;
    flex: 1;
}

nav a {
    text-decoration: none;
    color: var(--white-color);
}




.dark-client-nav a {
  text-decoration: none;
  font-size: 100px;
  transition: 0.8s ease;
}



nav:hover a {
  opacity: 0.3;
}

nav a:hover {
  opacity: 1;
}


.arrow {
    position: absolute;
     bottom: 48px;
    /* right: 48px;  */
    text-align: center;
    transform: scale(2);
    animation: show-arrow 2s 6s  both cubic-bezier(0.68,-0.55,0.27,1.55);  
}

.arrow a {
    text-decoration: none;
    color: var(--white-color);
}



svg {
    vertical-align: middle;
}




/*Introduction*/
div.intro {
    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--white-color);
    color: var(--white-color);

    width: 100%;
    height: 100%;

    pointer-events: none;
    display: flex;
    animation: intro-box 6s both;
}

div.first-intro-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-intro 2s 1s both;
    /* font-size: 36px; */
}
 
div.second-intro-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-intro 3s 3s both;
    /* font-size: 36px; */
}



/*INDEX*/

.hero-page {
    height: 100vh;
}

.profile-picture img {
    max-height: 100%;
    width: 500px;
    height: 650px;
} 

.title-hero{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    padding-bottom: 23px;
}

.hand {
 font-size: 120px;
}

.contact {
    background-color: var(--white-color);
    color: var(--black-color);
    
}

/*CLIENTS*/

.subject {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    font-size: 20px;
    padding: 32px
}





ul:hover a {
    opacity: 0.3;
    transition: 0.8s ease;
  }
  
  ul a:hover {
    opacity: 1;
  }


  .hyphens {
      hyphens: auto;
  }

  /*IKEA*/
  section.project-description {
     min-height: 100vh;
  }

  .project-subheader {
      letter-spacing: 0.5px;
  }


.talangfallan {
    background-image: url(/assets/images/IKEA/talangfallan.svg);
    min-height: 100vh;
    background-size: 80vmax auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}   

.table-ikea {
    background-image: url(/assets/images/IKEA/table.svg);
    min-height: 100vh;
    background-size: 80vmax auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
} 



  


section.ikea-images{   
min-height: 100vh;
background-size:60vmax auto;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}

section.image1{
    background-image: url(/assets/images/IKEA/Ikea_Stable_Table_Raw_Camera.png);
}  

section.image2{
    background-image: url(/assets/images/IKEA/Ikea_Stable_Table_Outside.png);
}  

section.image3 {
    background-image: url(/assets/images/IKEA/warehouse.png);
}

section.image4 {
    background-image: url(/assets/images/IKEA/Retail.png);
}

section.image5 {
    background-image: url(/assets/images/IKEA/Design.png);
}






/*ICA*/
.sticky {
    padding: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}









/*About*/
section.about-split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    overflow: hidden;
}

div.split {
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 650px;
    box-shadow: 0 0 30px rgba(0,0,0,0.25);
}

section div.slides {
    /* width: 500px;
    height: 800px; */
    width: 500px;
    height: 650px;
    /* background-color: red; */
    position: relative;
}






@media screen and (min-width: 30em) {
    .shadow-longer-ns img {
      box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
              0 4px 2px rgba(0,0,0,0.09), 
              0 8px 4px rgba(0,0,0,0.09), 
              0 16px 8px rgba(0,0,0,0.09),
              0 32px 16px rgba(0,0,0,0.09);
  }
  }

.shadow-longer img {
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 
                0 4px 2px rgba(0,0,0,0.09), 
                0 8px 4px rgba(0,0,0,0.09), 
                0 16px 8px rgba(0,0,0,0.09),
                0 32px 16px rgba(0,0,0,0.09);
  }






@media screen and (max-width: 30em) {
    .no-mobile {
      display:none !important;
  }
  }


@media (max-width: 660px) {
    body {
        font-size: 16px;
    }

    h1 {

    }

    h2 {
        font-size: 36px;

    }

    h4 {
        font-size: 24px;
    }

    figure {
        padding: 36px;
    }

    a.menu-toggle {
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 101;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--white-color);
        animation: show-hamburger 2s 1s  both cubic-bezier(0.68,-0.55,0.27,1.55);  
    }



    /*INDEX*/

    .profile-picture img {
        width: 500px;
        height: 650px;
        padding: 32px;
    } 

    .hero-page {
        min-height: 100vh;
    }

    .hand {
        font-size: 40px;
       }


    /*IKEA*/
    .project-subheader {
        letter-spacing: 1px;
    }

    .title-hero{
      display: none;
    }

    section.clients {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-color: #1b1b1b;
    }
  
    
       section.project-description-mobile {
        min-height: 100vh;
     } 
}

  
  
  
.video {
    max-height: 70vh;
}


.about-caption {
    font-size: 30vw;
    letter-spacing: -30px;
}